<!DOCTYPE html>
<% const isSpatial = XR_ENV === 'avp'; %>
<html lang="en" <% if (isSpatial) { %>
  class="is-spatial"<% } %>>
  <head>
    <!-- BUILD_PROBE: INDEX_HTML -->
    <script>
      window.__INDEX_PROBE__ = "INDEX:" + Date.now();
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memento°</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
